@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v22-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v22-latin-900.woff2") format("woff2");
}
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondaty-dark: #a18268;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-light: #cfcfbc;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  color: #465929;
  background-color: #f5f5f5;
}

/* .button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
} */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  line-height: 1.5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-dark);
  /* font-weight: 600; */
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 40px;
}

.logo {
  fill: var(--color-primary-light);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.logo:hover {
  fill: var(--color-brand-light);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2%, rgba(18, 18, 17, 0.6) 58.5%, rgba(18, 18, 17, 0) 90%), url(../images/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-light);
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text .limited {
  max-width: 340px;
}

.traditions-baker_man-img {
  border-radius: 50% 50% 0 0;
}

.chefs_section-title {
  margin: 0 auto 80px;
  /* max-width: 520px; */
  position: relative;
}

.chefs_section-title::before,
.chefs_section-title::after {
  position: absolute;
  bottom: 24px;
  content: "";
  width: 352px;
  height: 2px;
  background-color: var(--color-light);
}

.chefs_section-title::before {
  left: 0;
}

.chefs_section-title::after {
  right: 0;
}

.chefs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chefs-item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  -webkit-box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondaty-dark);
          box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondaty-dark);
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.format_section-title {
  margin-bottom: 80px;
}

.formats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.formats-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formats-item {
  -ms-flex-preferred-size: calc((100% - 40px) / 3);
      flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-card {
  position: relative;
  padding: 24px;
  border-radius: 16px;
  height: 444px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55.21%, rgba(49, 38, 26, 0)), color-stop(72.92%, rgba(49, 38, 26, 0.71)), to(var(--color-primary-dark)));
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.format-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.format-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.carousel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contacts-text {
  color: var(--color-brand-dark);
}

.contacts-map {
  -ms-flex-negative: 0.2;
      flex-shrink: 0.2;
  border: none;
  border-radius: 16px;
}

.footer {
  background-image: url(../images/footer-bg.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::before {
  background-image: url(/images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(/images/decor-bread-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.address-info {
  position: relative;
  z-index: 1;
}

.address-list,
.address-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-title {
  font-size: 64px;
  color: var(--color-primary-dark);
  text-align: center;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 8px;
}

.modal-text {
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
}

.form-field {
  margin-bottom: 32px;
  position: relative;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondaty-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-input::-webkit-input-placeholder {
  color: var(--color-secondaty-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input::-moz-placeholder {
  color: var(--color-secondaty-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:-ms-input-placeholder {
  color: var(--color-secondaty-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input::-ms-input-placeholder {
  color: var(--color-secondaty-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input::placeholder {
  color: var(--color-secondaty-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::-webkit-input-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus:-ms-input-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::-ms-input-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  margin: 0 auto 24px;
  display: block;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

.form-terms a {
  color: inherit;
  text-underline-offset: 2px;
}

/* Checkbox */
/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: green;
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
} */
/* Checkbox *//*# sourceMappingURL=main.css.map */