.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contacts-text {
  color: var(--color-brand-dark);
}

.contacts-map {
  flex-shrink: 0.2;
  border: none;
  border-radius: 16px;
}
