.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;

  &__link {
    color: inherit;
    text-underline-offset: 2px;
  }
}

/* Checkbox */
/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: green;
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
} */
/* Checkbox */
